* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

label {
    margin-left: 3.3em;
    font-size: 3em;
    color: red;
}

button {
    background-color: black;
    color: red;
}